@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";



@custom-variant dark (&:is(.dark *));

.outfit-100 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.outfit-200 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.outfit-300 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.outfit-400 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-500 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.outfit-600 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.outfit-700 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.outfit-800 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.outfit-900 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  background: black;
}

/* Custom arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #000000;
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 9999px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 1.25rem;
}

/* Position arrows outside container (optional) */
.swiper-button-prev {
  left: -20px;
}

.swiper-button-next {
  right: -20px;
}

/* Custom pagination dots */
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: #9ca3af;
  opacity: 1;
  margin: 0 5px;
  border-radius: 9999px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff;
  transform: scale(1.3);
}

.tag-container {
  background: radial-gradient(ellipse at bottom right, #9d174d, #d946ef, #f0abfc);
}