/* autoroate for circle */
.autoRotate {

    animation: AutoRotateAnimation;
    animation-timeline: view();
}

@keyframes AutoRotateAnimation {

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

/* text-show */

.autoShow {
    animation: text-appear both;
    animation-timeline: view();
}


@keyframes text-appear {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* image reveal */
.imageReveal {

    animation: imagereveal both;
    animation-timeline: view(10% 5%);
}


@keyframes imagereveal {
    from {
        filter: saturate(0) contrast(4) brightness(.1) blur(5px);
        opacity: 0;
        scale: .95;
        translate: 0 4rem;
    }

    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

/* text blur effect */
.autoblur {

    animation: autoBlur both;
    animation-timeline: view(50% auto);
}

@keyframes autoBlur {

    0% {
        filter: blur(20px);
    }

    35%,
    45% {
        filter: blur(0px);
    }

    70% {
        filter: blur(20px);
    }

    100% {
        filter: blur(0px);
    }
}


/* horizontal transition */
.fadeUp {

    animation: fadeUp both;
    animation-timeline: view(10% 10%);

}

@keyframes fadeUp {
    from {

        opacity: 0;
        transform: translateY(10px) scale(0.5);

    }

    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.horizontal-scroll-wrapper{
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: #ffffff;
    scrollbar-track-color: red;
}



